<html lang="en">
<head>
    <title>{{ recipe.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        header, footer, main, nav {
            padding: 1em;
            margin: 0;
        }
        header {
            font-weight: bold;
            background-color: #eee;
        }
        .container {
            display: flex;
        }
        nav {
            flex: 1;
        }
        main {
            flex: 4;
        }
        dt {
            float: left;
            padding-right: 1em;
        }

        .quantity {
            font-weight: bold;
        }
    </style>
</head>

<body>

<header>
    Recipes
</header>

<div class="container">
    <nav class="sidebar">
        {% for dir in index | sort %}
        <details>
            <summary>
                {{ dir }}
            </summary>
            <ul>
                {% for file in index[dir] %}
                <li>
                    <a href="{{ file }}">{{ index[dir][file] }}</a>
                </li>
                {% endfor %}
            </ul>
        </details>
        {% endfor %}
    </nav>

    <main>
        <article>
            <h1>
                {{ recipe.title }}
            </h1>
            <dl class="info">
                {% if recipe.preptime %}
                <dt>Prep time</dt>
                <dd>{{ recipe.preptime }}</dd>
                {% endif %}

                {% if recipe.baketime %}
                <dt>Bake time</dt>
                <dd>{{ recipe.baketime }}</dd>
                {% endif %}

                {% if recipe.totaltime %}
                <dt>Total time</dt>
                <dd>{{ recipe.totaltime }}</dd>
                {% endif %}

                {% if recipe.quantity %}
                <dt>Quantity</dt>
                <dd>{{ recipe.quantity }}</dd>
                {% endif %}
            </dl>

            {% if recipe.notes %}
            <aside class="notes">
                <p>
                    {{ recipe.notes }}
                </p>
            </aside>
            {% endif %}

            <div class="section">
                <form name="scale" id="scale_form">
                    <label for="id_scale">Scale:</label>
                    <input type="number" value="1" min="0.01" id="id_scale" step="0.01">
                    <button type="submit">Scale recipe</button>
                </form>
            </div>

            <div class="section">
                <h2>Ingredients</h2>
                <ul>
                    {% for entry in recipe.ingredients %}
                    {% if entry is string %}

                    {% if not ingredient_dict %}
                    <li class="ingredient">
                        {% for part in entry|ingredient_data %}{% for subpart in part %}<span{% if subpart.type == "quantity" %} class="quantity" data-quantity="{{ subpart.value }}"{% endif %}>{{ subpart.text }}</span>{% endfor %}{% endfor %}
                    </li>
                    {% else %}
                    <li class="ingredient">
                        <span data-quantity="{{ ingredient_dict['quantity'] }}">{{ entry|ingredient_display }}</span>
                    </li>
                    {% endif %}

                    {% else %}
                    <li>
                        {% for step in entry %}
                        {{ step }}
                        <ul>
                            {% for substep in entry[step] %}
                            <li data-quantity="{{ substep }}">{{ substep|ingredient_display }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </div>

            <div class="section">
                <h2>Steps</h2>
                <ul>
                {% for entry in recipe.steps %}
                {% if entry is string %}
                    <li>{{ entry }}</li>
                {% else %}
                    <li>
                        {% for step in entry %}
                        {{ step }}
                        <ul>
                            {% for substep in entry[step] %}
                            <li>{{ substep }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            {% if recipe.source %}
            <aside>
                <p>Via <a href="{{ recipe.source }}">{{ recipe.source }}</a></p>
            </aside>
            {% endif %}

        </article>
    </main>
</div>

<footer>
    </p>Thank's</p>
</footer>

<script>
    let Recipe = new (class {
        constructor() {
            document.getElementById("scale_form").addEventListener("submit", this.scaleRecipe.bind(this));
        }

        scaleRecipe(event) {
            event.preventDefault();
            const scale = event.target[0].valueAsNumber;
            document.querySelectorAll(".quantity").forEach(
                (ingredient) => this.scaleIngredient(ingredient, scale)
            )
        }

        scaleIngredient(ingredient, scale) {
            const currentValue = ingredient.dataset.quantity;
            ingredient.setHTML(currentValue * scale);
        }
    })()
</script>
</body>
</html>

